footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
  }
  
  footer p {
    margin: 10px 0;
    font-weight: 800;
  }
  input ,textarea{
    padding: 10px;
    font-weight: 600;
  }
  label{
    font-size: large;    
  }
  button{
    padding: 10px;
    font-size: large;
  }
  button:hover{
    background-color: rgb(0, 255, 170);
  }